{% extends 'base.html.twig' %}

{% block title %}CodeNames{% endblock %}

{% block body %}
    <div class="grid">
    {% for case in cases %}
        <div class="{{ case }} box"></div>
    {% endfor %}
    </div>
{% endblock %}
