.grid {
    width: 40vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: repeat(5, 15vw);
    grid-auto-flow: column;
}
.box {
    color: #fff;
    border-radius: 5px;
    border: 3px solid black;
}
.red {
    background-color: #f85555;
}
.yellow {
    background-color: #fafa72;
}
.spy {
    background-color: black;
}
.blue {
    background-color: #6b6be5;
}
